Repository department-of-veterans-affairs/next-build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/platform-design-system-fe

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
# Unless a later match takes precedence

* @department-of-veterans-affairs/cms-infrastructure @department-of-veterans-affairs/va-platform-cop-frontend

# Public Websites & Facilities
src/assets @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend
src/data @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend
src/hooks @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend
src/lib @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend
src/mocks @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend
src/pages @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend
src/templates @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend
src/types @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/vfs-facilities-frontend

# Public Websites
src/mocks/audienceTopics.mock.json @department-of-veterans-affairs/vfs-public-websites-frontend
src/mocks/benefitHubs.mock.json @department-of-veterans-affairs/vfs-public-websites-frontend
src/mocks/contactInfo.mock.json @department-of-veterans-affairs/vfs-public-websites-frontend
src/mocks/emailContact.mock.json @department-of-veterans-affairs/vfs-public-websites-frontend
src/mocks/event*.mock.json @department-of-veterans-affairs/vfs-public-websites-frontend
src/mocks/media*.mock.json @department-of-veterans-affairs/vfs-public-websites-frontend
src/mocks/processList.mock.json @department-of-veterans-affairs/vfs-public-websites-frontend
src/mocks/qa*.mock.json @department-of-veterans-affairs/vfs-public-websites-frontend
src/mocks/qa*.mock.json @department-of-veterans-affairs/vfs-public-websites-frontend
src/mocks/questionAnswer.mock.json @department-of-veterans-affairs/vfs-public-websites-frontend
src/mocks/reactWidget.mock.json @department-of-veterans-affairs/vfs-public-websites-frontend
src/mocks/resourcesSupport.mock.json @department-of-veterans-affairs/vfs-public-websites-frontend
src/mocks/richTextCharLimit1000.mock.json @department-of-veterans-affairs/vfs-public-websites-frontend
src/templates/common/benefitsHubLinks @department-of-veterans-affairs/vfs-public-websites-frontend
src/templates/common/commonAndPopular @department-of-veterans-affairs/vfs-public-websites-frontend
src/templates/common/contentFooter @department-of-veterans-affairs/vfs-public-websites-frontend
src/templates/common/medallia @department-of-veterans-affairs/vfs-public-websites-frontend
src/templates/common/socialLinks @department-of-veterans-affairs/vfs-public-websites-frontend
src/templates/components/audienceTopics @department-of-veterans-affairs/vfs-public-websites-frontend
src/templates/components/processList @department-of-veterans-affairs/vfs-public-websites-frontend
src/templates/components/qa* @department-of-veterans-affairs/vfs-public-websites-frontend
src/templates/components/rateYourExperience @department-of-veterans-affairs/vfs-public-websites-frontend
src/templates/components/reactWidget @department-of-veterans-affairs/vfs-public-websites-frontend
src/templates/layouts/event* @department-of-veterans-affairs/vfs-public-websites-frontend
src/templates/layouts/resourcesSupport @department-of-veterans-affairs/vfs-public-websites-frontend
src/types/formatted/event*.ts @department-of-veterans-affairs/vfs-public-websites-frontend
src/types/formatted/headerFooter.ts @department-of-veterans-affairs/vfs-public-websites-frontend
src/types/formatted/media*.ts @department-of-veterans-affairs/vfs-public-websites-frontend
src/types/formatted/processList.ts @department-of-veterans-affairs/vfs-public-websites-frontend
src/types/formatted/qa*.ts @department-of-veterans-affairs/vfs-public-websites-frontend
src/types/formatted/questionAnswer.ts @department-of-veterans-affairs/vfs-public-websites-frontend
src/types/formatted/reactWidget.ts @department-of-veterans-affairs/vfs-public-websites-frontend
src/types/formatted/resourcesSupport.ts @department-of-veterans-affairs/vfs-public-websites-frontend
src/types/formatted/sideNav.ts @department-of-veterans-affairs/vfs-public-websites-frontend

# Facilities
src/mocks/featuredContent.mock.json @department-of-veterans-affairs/vfs-facilities-frontend
src/mocks/formattedNewsStories.mock.json @department-of-veterans-affairs/vfs-facilities-frontend
src/mocks/formattedPressReleases.mock.json @department-of-veterans-affairs/vfs-facilities-frontend
src/mocks/healthServices.mock.json @department-of-veterans-affairs/vfs-facilities-frontend
src/mocks/newsStory.mock.json @department-of-veterans-affairs/vfs-facilities-frontend
src/mocks/personProfile.mock.json @department-of-veterans-affairs/vfs-facilities-frontend
src/mocks/press*.mock.json @department-of-veterans-affairs/vfs-facilities-frontend
src/mocks/staffProfile.mock.json @department-of-veterans-affairs/vfs-facilities-frontend
src/mocks/storyListing.mock.json @department-of-veterans-affairs/vfs-facilities-frontend
src/mocks/vetCenter.mock.json @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/common/featuredContent @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/common/googleMapsDirections @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/components/healthServices @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/components/hours @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/components/imageAndStaticMap @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/components/lovellSwitcher @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/components/newsStoryTeaser @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/components/personProfile @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/components/pressReleaseTeaser @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/components/servicesList @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/components/storyListingLink @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/layouts/newsStory @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/layouts/press* @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/layouts/storyListing @department-of-veterans-affairs/vfs-facilities-frontend
src/templates/layouts/vetCenter @department-of-veterans-affairs/vfs-facilities-frontend
src/types/formatted/administration.ts @department-of-veterans-affairs/vfs-facilities-frontend
src/types/formatted/featuredContent.ts @department-of-veterans-affairs/vfs-facilities-frontend
src/types/formatted/healthServices.ts @department-of-veterans-affairs/vfs-facilities-frontend
src/types/formatted/linkTeaser.ts @department-of-veterans-affairs/vfs-facilities-frontend
src/types/formatted/newsStory.ts @department-of-veterans-affairs/vfs-facilities-frontend
src/types/formatted/personProfile.ts @department-of-veterans-affairs/vfs-facilities-frontend
src/types/formatted/press*.ts @department-of-veterans-affairs/vfs-facilities-frontend
src/types/formatted/staffProfile.ts @department-of-veterans-affairs/vfs-facilities-frontend
src/types/formatted/storyListing.ts @department-of-veterans-affairs/vfs-facilities-frontend
src/types/formatted/vamcEhr.ts @department-of-veterans-affairs/vfs-facilities-frontend
src/types/formatted/vetCenter.ts @department-of-veterans-affairs/vfs-facilities-frontend

# Public Websites & Platform Design System
src/mocks/headerFooter.mock.json @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/platform-design-system-fe
src/templates/common/breadcrumbs @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/platform-design-system-fe
src/templates/common/footer @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/platform-design-system-fe
src/templates/common/header @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/platform-design-system-fe
src/templates/layouts/wrapper @department-of-veterans-affairs/vfs-public-websites-frontend @department-of-veterans-affairs/platform-design-system-fe

Check banner object for field before trying to iterate over it.
  src/data/queries/banners.ts
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend

Check banner object for field before trying to iterate over it. (#840)
  src/data/queries/banners.ts
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend

VACMS-19698: Updates to event title tag for browser tabs (#838)
  src/templates/common/meta/index.tsx
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend

Revert "VACMS-19698: Updates to event title tag for browser tabs (#838)"
  src/templates/common/meta/index.tsx
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend

Update Design System dependencies to latest (#812)
  .yarn/cache/@babel-runtime-npm-7.26.0-9afa3c4ef6-c8e2c0504a.zip
  .yarn/cache/@department-of-veterans-affairs-component-library-npm-45.0.0-69f993e95a-e9ef80ff5f.zip
  .yarn/cache/@department-of-veterans-affairs-component-library-npm-48.0.1-61178d9ee8-05df1e119d.zip
  .yarn/cache/@department-of-veterans-affairs-css-library-npm-0.8.8-e62b6ff3c0-73835d1424.zip
  .yarn/cache/@department-of-veterans-affairs-formation-npm-12.0.0-2c132930f9-e686433f5f.zip
  .yarn/cache/@department-of-veterans-affairs-web-components-npm-11.2.9-41f4d5cabf-bb578c1e8e.zip
  .yarn/cache/@department-of-veterans-affairs-web-components-npm-13.0.0-2f3c383de5-b9732eae26.zip
  .yarn/cache/@department-of-veterans-affairs-web-components-npm-16.0.1-1da5e33457-63cb0a4a66.zip
  .yarn/cache/@divriots-style-dictionary-to-figma-npm-0.4.0-c66bec7fc2-122dd221fa.zip
  .yarn/cache/@stencil-core-npm-4.20.0-6c65f44668-1b8d31bc84.zip
  .yarn/cache/chromatic-npm-11.12.5-837f739e77-92b8de184e.zip
  .yarn/cache/chromatic-npm-11.18.1-582a700d2c-c55e349155.zip
  .yarn/cache/tslib-npm-2.8.1-66590b21b8-e4aba30e63.zip
  package.json
  yarn.lock
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

VACMS-19386 Add SecondaryButtonGroup and RelatedLinks common components (#814)
  additional.d.ts
  src/templates/common/relatedLinks/index.test.tsx
  src/templates/common/relatedLinks/index.tsx
  src/templates/common/relatedLinks/relatedLinks.stories.ts
  src/templates/common/secondaryButtonGroup/index.test.tsx
  src/templates/common/secondaryButtonGroup/index.tsx
  src/templates/common/secondaryButtonGroup/secondaryButtonGroup.stories.ts
  src/types/formatted/relatedLinks.ts
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend

VACMS-19386 Cleanup in support of checklist template (#815)
  README.md
  READMEs/tugboat.md
  generator-templates/component/test.hbs
  generator-templates/query/test.hbs
  src/data/queries/index.ts
  src/data/queries/tests/__snapshots__/newsStory.test.tsx.snap
  src/data/queries/tests/__snapshots__/personProfile.test.tsx.snap
  src/data/queries/tests/__snapshots__/pressRelease.test.tsx.snap
  src/data/queries/tests/__snapshots__/resourcesSupport.test.tsx.snap
  src/lib/drupal/query.ts
  src/pages/[[...slug]].tsx
  src/templates/common/breadcrumbs/index.tsx
  src/templates/common/link/index.test.tsx
  src/templates/common/link/index.tsx
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend, @department-of-veterans-affairs/platform-design-system-fe

Updating lock file
  yarn.lock
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

VACMS-19386 Update contact info component (#821)
  additional.d.ts
  src/data/queries/supportServices.ts
  src/data/queries/tests/__snapshots__/contactInfo.test.tsx.snap
  src/data/queries/tests/__snapshots__/resourcesSupport.test.tsx.snap
  src/data/queries/tests/supportServices.test.tsx
  src/templates/components/contactInfo/contactInfo.stories.ts
  src/templates/components/contactInfo/index.test.tsx
  src/templates/components/contactInfo/index.tsx
  src/templates/layouts/resourcesSupport/index.test.tsx
  src/types/formatted/contactInfo.ts
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend

Revert "VACMS-19698: Updates to event title tag for browser tabs" (#841)
  src/templates/common/meta/index.tsx
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend

Update DST packages.
  .yarn/cache/@department-of-veterans-affairs-component-library-npm-45.0.0-69f993e95a-e9ef80ff5f.zip
  .yarn/cache/@department-of-veterans-affairs-component-library-npm-48.2.0-e9833f4431-16d626de2e.zip
  .yarn/cache/@department-of-veterans-affairs-css-library-npm-0.8.8-e62b6ff3c0-73835d1424.zip
  .yarn/cache/@department-of-veterans-affairs-formation-npm-12.0.0-2c132930f9-e686433f5f.zip
  .yarn/cache/@department-of-veterans-affairs-web-components-npm-11.2.9-41f4d5cabf-bb578c1e8e.zip
  .yarn/cache/@department-of-veterans-affairs-web-components-npm-13.0.0-2f3c383de5-b9732eae26.zip
  .yarn/cache/@department-of-veterans-affairs-web-components-npm-16.2.0-80609caae8-4507acb2ad.zip
  .yarn/cache/@divriots-style-dictionary-to-figma-npm-0.4.0-c66bec7fc2-122dd221fa.zip
  .yarn/cache/@stencil-core-npm-4.20.0-6c65f44668-1b8d31bc84.zip
  package.json
  yarn.lock
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

Update DST packages. (#845)
  .yarn/cache/@department-of-veterans-affairs-component-library-npm-45.0.0-69f993e95a-e9ef80ff5f.zip
  .yarn/cache/@department-of-veterans-affairs-component-library-npm-48.2.0-e9833f4431-16d626de2e.zip
  .yarn/cache/@department-of-veterans-affairs-css-library-npm-0.8.8-e62b6ff3c0-73835d1424.zip
  .yarn/cache/@department-of-veterans-affairs-formation-npm-12.0.0-2c132930f9-e686433f5f.zip
  .yarn/cache/@department-of-veterans-affairs-web-components-npm-11.2.9-41f4d5cabf-bb578c1e8e.zip
  .yarn/cache/@department-of-veterans-affairs-web-components-npm-13.0.0-2f3c383de5-b9732eae26.zip
  .yarn/cache/@department-of-veterans-affairs-web-components-npm-16.2.0-80609caae8-4507acb2ad.zip
  .yarn/cache/@divriots-style-dictionary-to-figma-npm-0.4.0-c66bec7fc2-122dd221fa.zip
  .yarn/cache/@stencil-core-npm-4.20.0-6c65f44668-1b8d31bc84.zip
  package.json
  yarn.lock
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

Alphabetize many types, includes, etc.
  additional.d.ts
  package.json
  src/data/queries/index.ts
  src/pages/[[...slug]].tsx
  src/types/drupal/block.ts
  src/types/drupal/field_type.d.ts
  src/types/drupal/media.ts
  src/types/drupal/node.ts
  src/types/drupal/paragraph.ts
  src/types/formatted/accordion.ts
  src/types/formatted/banners.ts
  src/types/formatted/collapsiblePanel.ts
  src/types/formatted/contactInfo.ts
  src/types/formatted/event.ts
  src/types/formatted/headerFooter.ts
  src/types/formatted/headingElement.ts
  src/types/formatted/media.ts
  src/types/formatted/pressRelease.ts
  src/types/formatted/pressReleaseListing.ts
  src/types/formatted/qaGroup.ts
  src/types/formatted/sideNav.ts
  src/types/formatted/storyListing.ts
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend, @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend

Revert "VACMS-19698: Updates to event title tag for browser tabs" (#841)
  src/templates/common/meta/index.tsx
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend

Update DST packages. (#845)
  .yarn/cache/@department-of-veterans-affairs-component-library-npm-48.2.0-e9833f4431-16d626de2e.zip
  .yarn/cache/@department-of-veterans-affairs-web-components-npm-16.2.0-80609caae8-4507acb2ad.zip
  yarn.lock
Owners: @department-of-veterans-affairs/cms-infrastructure, @department-of-veterans-affairs/va-platform-cop-frontend

remove old recurring events
  src/lib/utils/date.test.ts
  src/lib/utils/date.ts
  src/templates/layouts/event/index.tsx
Owners: @department-of-veterans-affairs/vfs-public-websites-frontend, @department-of-veterans-affairs/vfs-facilities-frontend
